




<form method="post" asp-action="Create" enctype="multipart/form-data">
    
    <h2 class="text-center">Création des pièces!</h2>

    <div class="card curr-piece">
        <div class="card-body">
            <div class="row d-flex align-items-center">
                <div class="row col-7">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-control-inline">
                            
                            <label class="form-label">Reference</label>
                            <input name="refs[]" class="form-control ref-piece-cls" placeholder="reference de la pièce...">
                            <div class="validity-msg"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-control-inline">
                            <label class="form-label">Designation</label>
                            <input name="designations[]" class="form-control ref-piece-cls" placeholder="designation de la pièce...">
                            <div class="validity-msg"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-control-inline">
                            <label class="form-label">Indice d'arrivage</label>
                            <input name="indicesArrivage[]" class="form-control ref-piece-cls" placeholder="indice d'arrivage de la pièce...">
                            <div class="validity-msg"></div>
                        </div>
                    </div>
                </div>

                <div class="col-4 h-25 ">
                    <div class="card-header">
                        <h3 class="card-title">Photo de la pièce<small>choisir une image pour représenter la pièce</small></h3>
                    </div>
                    <div class="card-body">
                        <input type="file" name="photoPaths[]" class="dropify-event dropify piece-photo">
                        <input type="hidden" value="null" name="photoStatus[]" class="piece-photo-placeholder"/>
                    </div>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <div class="form-group custom-control-inline">
                        <a class="add-piece-btn-create" title="Créer une autre piéce" data-toggle="tooltip"
                           data-placement="top">
                            <i class="fe fe-plus-square"></i>
                        </a>
                    </div>
                </div>

                
                <div class="form-group custom-control-inline">
                    <label class="form-label">Quantité total en stock</label>
                    <input name="qtesStock[]" class="form-control quantity-inp" spellcheck="false" value="0" oninput="this.value = parseInt(this.value) || 0;" min="1">
                    <div class="validity-msg"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-footer">
        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-check" aria-hidden="true"></i></button>
    </div>
</form>

<script>
    var leftSidebarID = "left-sidebar-menu-pieces-create";
</script>
<script>
    setTimeout(function () {
        var successAlert = document.getElementById('successAlert');
        if (successAlert) {
            successAlert.classList.add('hide-transition');
        }
    }, 3000); // 3000 milliseconds = 3 seconds
</script>